<h2>Fornecedores</h2>

<%= link_to 'Cadastrar Fornecedor', new_supplier_path %>

<ul>
  <% @suppliers.each do |s| %>
    <li><%= link_to s.brand_name, s %></li>
    <ul><li><%= s.city %> - <%= s.state.upcase %></li></ul>
  <% end %>
</ul>

<% if @suppliers.empty? %>
  <p>Nenhum fornecedor cadastrado.</p>
<% end %>